<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <add key="repositoryPath" value="packages" />
  <packageSources>
    <add key="LeoxiaFrance" value="http://nuget.leoxia.com/api/leoxia/v3/index.json" protocolVersion="3" />
    <!--<add key="LeoxiaThailand" value="http://nuget.leoxia.co.th/api/leoxia/v3/index.json" protocolVersion="3" />-->
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
  <apikeys>
    <!--<add key="http://nuget.leoxia.co.th/api/leoxia/v3/" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAe9e7QYpcMkSssHjM53+kEAAAAAACAAAAAAAQZgAAAAEAACAAAACui+LOeBlXU942AtkWaATkQRYVQ0FI+ORPCNwJv44YDAAAAAAOgAAAAAIAACAAAAAsHsAaFiYsQeQWAI7luB3TqSWsc7FQyE1F5KNtU/BEpTAAAAD5svyTGBqP2z5dQXUsUGjbd2GagAJqNl5x1ppqthay2fUWIfw9+lG02/jew7UoCaRAAAAAaHp63pZ10o6TKwoMkdkyrEFe1fR2y3ltgk/IGBBzM4MkK9D5pdBu4wY/IZS6oG+IV+QQQn65prGdx89X+IUfjA==" />-->
    <add key="http://localhost:50614/api/leoxia/v3/" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAHtVqSlJS+EyQmrKGc1Ii+QAAAAACAAAAAAAQZgAAAAEAACAAAACgOw5A489DyVIcCLk4FUTSwyh88D9dojOsZzx1w1TXaQAAAAAOgAAAAAIAACAAAABVR8lBVqb3lpl5DBPjZpltCQgCCAfySFoEgtRzFCB16TAAAABic72GguIRpDnBSx5iePrIZeNZsYRX3x2QeonS2HDYJsATuPE5oBti7X+OtCvnkV5AAAAA14KAnojXeR4KjX7KaSBsIWM9nLDjZr1zlFV9p1jhqhL3hJ7UNPKmws5+L8M1rUhiSIh4t7wUAbQLhCB5Xks+GA==" />
    <add key="http://nuget.leoxia.com/api/leoxia/v3/" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAgjR7DNFY4U6QoN8/0zirtAAAAAACAAAAAAAQZgAAAAEAACAAAAB01Dx+lbKZpxELuUGXVxB9OEmyl7WGhU5xXwGjCArJ7wAAAAAOgAAAAAIAACAAAAAEkApHF9wKgXgbDHc+6Djhgfbrpj3GT+896G+QH1N4fzAAAADHid3Wo7GM2QKdWZ9JJEGp53veEWgYgHpI0mqQJ17gj7zu9kpS+fLhpxy8/FhNPTJAAAAANsRRL7oIii4LOZY1W4i9Nhr2NZrm3qajTLouu5lQAPTmp2vhQFQ98Jeirn8queruvhTCQwI/9SQPCBzhfNd99A==" />
  </apikeys>
  <packageSourceCredentials>
    <LeoxiaThailand>
      <add key="Username" value="LeoxiaInvoices" />
      <add key="Password" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAe9e7QYpcMkSssHjM53+kEAAAAAACAAAAAAAQZgAAAAEAACAAAAB47Fd3oKGT8uNygIuT0bGBMpunW2RCWF8b80OYVyYpkQAAAAAOgAAAAAIAACAAAAAa1neGrtopPT091GaPAnVdJ5w2mZOxcERng+ozjGthkRAAAAAYGYGB4Xbs9kAPX84Ou8MrQAAAAA6fls7FYeLTWvIuECvtD4M92IxDyTRvntnOyn4yv4PMLJJZMr0qhx7mQPZAwpzzrsYHbu6Lk8uRxRzJioeaKRs=" />
    </LeoxiaThailand>
    <LeoxiaFrance>
      <add key="Username" value="leoxia" />
      <add key="ClearTextPassword" value="4UKZnOrxRdjAkzbBQZKu" />
    </LeoxiaFrance>
  </packageSourceCredentials>
</configuration>